.hero-container.blhero2.skhero1
  %span.hero-wave
  .hero-content
    .row
      .col-md-8
        %h1.bold-headline.margin-top0.hero-item
          Simplify your workflows with GitLab
        .hero-item.text-left
          %h3 
            Discover the 10 advantages of single application CI/CD.
            %a{href: "/why/use-continuous-integration-to-build-and-test-faster/"} 
              %u Download the eBook.
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          = link_to "/free-trial/", class: "btn cta-btn large orange-light" do
            Try GitLab for FREE
          = link_to "/demo/", class: "btn cta-btn large btn-white flex-container align-center" do
            .i.fas.fa-play.play-icon
            Watch a demo
      .col-md-4.special-link
        %p
          %a{href: "/why/use-continuous-integration-to-build-and-test-faster/"}
            %span.special-img
              = image_tag "/images/home/single-app-ci-cd-ebook-cover.jpg"
              -#%span See the benefits in our eBook

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
