@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.centered-form-info {
  text-align: center;
  color: $color-white;

  a {
    color: $color-white;
    text-decoration: underline;
  }

  h2 {
    margin-top: 0;
  }
}

.demo-info {
  color: $color-white;
  max-width: 800px;
  margin: auto;
  margin-top: 0;
  z-index: 1;

  h2 {
    margin-top: 0;
  }

  a {
    color: $color-white;
    text-decoration: underline;
  }

  p {
    font-size: 20px;
  }
}

.demo-icon {
  height: 80px;
}

.footer {
  margin-top: 0;
}

.demo-container {
  width: 100%;
  height: 100%;
  display: flex;

  .video-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 120px;
    transition: $transition-primary-longer;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: $color-transparent-alt-darken;
    //   z-index: 1;
    // }

    iframe {
      display: none;
      border: 0;
      box-shadow: none;
      width: 800px;
      height: 450px;
      margin-top: 30px;

      @media all and (max-width: $screen-md-min) {
        height: 350px;
      }
    }

    @media all and (max-width: $screen-md-min) {
      padding: 40px 20px;
    }
  }

  .demo-form-container {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    padding: 60px;
    background: $color-white;

    @media all and (max-width: $screen-md-min) {
      width: 100%;
      padding: 40px 20px;
    }
  }

  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
  }
}
